@model IEnumerable<ETickets.ViewModels.Cart.AddToCartViewModel>

@{
    ViewData["Title"] = "AddToCart";
    double Total = 0;
}


@if(Model.Count()== 0)
{
    <div class="card text-center">
      
        <div class="card-body">
            <h5 class="card-title">Your Cart is empty</h5>
            <a asp-action="Index" asp-controller="Movie" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>SubTotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var Subtotal = item.Quantity * item.MoviePrice;

                Total += Subtotal;
                <tr>
                    <td>@item.MovieName</td>
                    <td>@item.MoviePrice$</td>
                    <td>
                        <div class="quantity">

                            <button class="btn-minus" onclick="decreaseQuantity(this, @item.MoviePrice,@item.MovieId)">-</button>

                            <input type="number" style="cursor: none;   outline: none;    border: none; " value="@item.Quantity" min="1" max="10" onchange="updateSubtotal(this, @item.MoviePrice,)" />

                            <button class="btn-plus" onclick="increaseQuantity(this, @item.MoviePrice,@item.MovieId)">+</button>

                    
                        </div>
                    
                    </td>
                    
                    <td class="subtotal">@Subtotal$</td>
                    <td><a asp-action="DeleteItem" asp-controller="Cart" asp-route-cartId="@ViewData["cartId"]" asp-route-movieId="@item.MovieId">remove item</a></td>

                </tr>
            }
        </tbody>
    </table>
    <h2>Total = <span id="total">@Total</span>$</h2>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="70" height="70" viewBox="0 0 100 100">
            <path fill="#3070b7" d="M43.804,32.5H64.5c3.966,0,7.251,0.614,9.773,1.828l0.535-0.293c0.125-1.2,0.192-2.46,0.192-3.785 C75,21.828,69,15,55,15H31.604c-1.477,0-2.734,1.075-2.964,2.534l-9.616,61.155C18.834,79.903,19.772,81,21,81h12.917l-0.893,5.69 c-0.079,0.502,0.043,0.978,0.291,1.37l8.441-53.811C41.917,33.236,42.777,32.5,43.804,32.5z"></path>
            <path fill="#40a6dd" d="M74.808,34.035l-0.535,0.293C71.751,33.114,68.466,32.5,64.5,32.5H43.804 c-1.026,0-1.887,0.736-2.047,1.75l-8.441,53.811C33.667,88.617,34.28,89,35,89h1.433h10.63c1.477,0,2.734-1.075,2.964-2.534 l2.505-15.932C52.762,69.075,54.019,68,55.496,68h3.53C67.286,68,81,62.857,81,45.071C81,40.424,79.325,36.353,74.808,34.035z"></path>
            <path fill="#375ca9" d="M43.804,32.5c-1.026,0-1.887,0.736-2.047,1.75l-3.442,21.944c0.587-0.439,1.314-0.694,2.101-0.694 h8.949c3.771,0,22.604-1.024,24.909-21.172C71.751,33.114,68.466,32.5,64.5,32.5H43.804z"></path>
            <g><path fill="#1f212b" d="M47.063,90H35c-0.878,0-1.709-0.383-2.279-1.05c-0.571-0.668-0.82-1.548-0.685-2.415L32.748,82H21 c-0.878,0-1.709-0.383-2.279-1.05c-0.571-0.668-0.82-1.548-0.685-2.416l9.616-61.155C27.961,15.421,29.622,14,31.604,14H55 c13.149,0,21,6.075,21,16.25c0,1.087-0.045,2.168-0.134,3.223C79.883,35.792,82,39.787,82,45.071C82,63.999,66.973,69,59.026,69 h-3.53c-0.991,0-1.822,0.711-1.976,1.689l-2.505,15.932C50.707,88.579,49.045,90,47.063,90z M31.604,16 c-0.99,0-1.821,0.711-1.975,1.689l-9.616,61.155c-0.047,0.293,0.034,0.579,0.228,0.806C20.434,79.876,20.703,80,21,80h14.086 l-1.073,6.846c-0.046,0.293,0.034,0.578,0.228,0.804C34.434,87.876,34.703,88,35,88h12.063c0.991,0,1.822-0.711,1.976-1.689 l2.505-15.932C51.853,68.421,53.515,67,55.496,67h3.53C66.816,67,80,62.382,80,45.071c0-4.81-1.9-8.224-5.647-10.146l-0.609-0.313 l0.07-0.68C73.938,32.737,74,31.498,74,30.25C74,21.194,67.075,16,55,16H31.604z"></path><path fill="#1f212b" d="M37.63,57.331l3.633-23.158C41.462,32.913,42.53,32,43.804,32H64.5c4.04,0,7.401,0.632,9.99,1.878 l0.32,0.154l-0.04,0.353C72.416,54.958,53.193,56,49.364,56h-8.949c-0.658,0-1.281,0.206-1.801,0.595L37.63,57.331z M43.804,33 c-0.778,0-1.432,0.559-1.553,1.328l-3.285,20.938C39.422,55.091,39.911,55,40.415,55h8.949c3.658,0,21.932-0.985,24.369-20.371 C71.324,33.548,68.221,33,64.5,33H43.804z"></path><rect width="26.26" height="1" x="23.149" y="68.669" fill="#1f212b" transform="rotate(-81.124 36.279 69.17)"></rect><path fill="#1f212b" d="M23.925,77c-0.026,0-0.053-0.002-0.079-0.006c-0.272-0.043-0.459-0.299-0.416-0.572l8.564-54.466 C32.264,20.243,33.718,19,35.452,19H43.5c0.276,0,0.5,0.224,0.5,0.5S43.776,20,43.5,20h-8.048c-1.238,0-2.277,0.888-2.47,2.112 l-8.564,54.466C24.379,76.824,24.166,77,23.925,77z"></path><path fill="#1f212b" d="M50.5,20h-3c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h3c0.276,0,0.5,0.224,0.5,0.5 S50.776,20,50.5,20z"></path><path fill="#1f212b" d="M54.5,20h-1c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h1c0.276,0,0.5,0.224,0.5,0.5 S54.776,20,54.5,20z"></path><path fill="#1f212b" d="M57.5,64h-1c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h1c0.276,0,0.5,0.224,0.5,0.5 S57.776,64,57.5,64z"></path><path fill="#1f212b" d="M66.5,62.357c-0.193,0-0.378-0.113-0.46-0.303c-0.108-0.254,0.009-0.548,0.263-0.657 C70.727,59.503,76,55.133,76,45.071c0-0.902-0.084-1.707-0.256-2.46c-0.062-0.269,0.106-0.537,0.376-0.599 c0.272-0.064,0.537,0.107,0.599,0.376C76.908,43.216,77,44.093,77,45.071c0,10.606-5.603,15.232-10.303,17.246 C66.633,62.345,66.565,62.357,66.5,62.357z"></path><path fill="#1f212b" d="M60.499,63.906c-0.252,0-0.47-0.191-0.496-0.448c-0.029-0.274,0.17-0.521,0.445-0.549 c0.951-0.1,1.965-0.282,2.929-0.526c0.271-0.072,0.539,0.094,0.607,0.361c0.068,0.267-0.094,0.54-0.361,0.607 c-1.024,0.26-2.058,0.446-3.071,0.552C60.534,63.905,60.517,63.906,60.499,63.906z"></path></g>
        </svg>
    </div>

    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Cart" asp-route-id="@ViewData["cartId"]" role="button">Checkout</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Movie" role="button">Add new Items</a>

}


<script>
       
        function increaseQuantity(button,price,movieId) {
            var input = button.parentElement.querySelector('input[type="number"]');
            var currentValue = parseInt(input.value);
            if (currentValue < 10) {
                input.value = currentValue + 1;

                // updateSubtotal(input, parseFloat(input.getAttribute('data-price')));          

                updateSubtotal(input, price,movieId);
            }
        }

    function decreaseQuantity(button, price, movieId) {

            var input = button.parentElement.querySelector('input[type="number"]');
            var currentValue = parseInt(input.value);
        
            if (currentValue > 1) {
                input.value = currentValue - 1;
                updateSubtotal(input, price,movieId);
            }
            
        }
    

        function updateSubtotal(input, price,movieId) {

            var quantity = parseInt(input.value);
            console.log(price)

            var subtotal = quantity * price;

            input.parentElement.parentElement.nextElementSibling.textContent = subtotal.toFixed(2) + '$';
            
            calculateTotal();
            updateCartItem(input, movieId);
        }

        function calculateTotal() {
            var subtotals = document.querySelectorAll('.subtotal');
            var total = 0;
            subtotals.forEach(function (subtotal) {
                total += parseFloat(subtotal.textContent);
            });
            document.getElementById('total').textContent = total.toFixed(2);
        }

        // Prevent arrow keys from changing the value
        document.addEventListener("keydown", function (event) {
            var input = document.querySelector('input[type="number"]');
            if (input && (event.key === "ArrowUp" || event.key === "ArrowDown")) {
                event.preventDefault();
            }
        });

    function updateCartItem(input, cartItemId) {
        var quantity = input.value;

        // Send an AJAX request to update the cart item
        $.ajax({
            url: '/Cart/UpdateItemQuantity?cartId=' + '@ViewData["cartId"]',
            type: 'POST',
            data: {
                movieId: cartItemId,
                quantity: quantity
            },
            success: function (response) {
                // Handle the success response if needed
                console.log('done');
            }
        });
    }

    
    </script>

    <style>
        .quantity {
            display: flex;
            align-items: center;
        }

            .quantity input {
                width: 40px;
                text-align: center;
            }

            .quantity button {
                background-color: #007bff;
                color: #fff;
                border: none;
                cursor: pointer;
                padding: 5px 10px;
            }
     


            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"] {
                -webkit-appearance: none;
                margin: 0;
            }

        input[type="number"] {
            border: none;
            outline: none;
            cursor: none;
         }
    </style>


